{%extends 'base.html'%}
{%block conteudo%}
<h1 class="mt-5">Minhas Tattos</h1>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tatto</th>
              <th>Estúdio</th>
              <th>Orçamento</th>
              <th>Tatto-Image</th>

            </tr>
          </thead>
          <tbody>
          {%for tatto in tattos%}
            {%if tatto.mostrar%}
                <tr>
                  <td>
                    <a href="{%url 'ver_tatto' tatto.id%}">{{tatto.id}}</a>
                  </td>
                  <td>{{tatto.nome_tatto}}</td>
                  <td>
                    <a href="#">{{tatto.estudio}}</a>
                  </td>
                  <td>R$ {{tatto.orcamento}}</td>
                  <td><a href="{%url 'ver_tatto' tatto.id%}">Ver Tatto</a></td>

                </tr>
            {%endif%}
          {%endfor%}
          </tbody>
        </table>
            {%block paginacao%}
                <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% for pagina in tattos.paginator.page_range%}
                    {% if tattos.number == pagina %}

                        <li class="page-item active"><a class="page-link" href="
                        ?p={{ pagina }}"
                        >{{ pagina }}</a></li>

                    {% else %}

                        <li class="page-item a"><a class="page-link" href="
                        ?p={{ pagina }}"
                        >{{ pagina }}</a></li>

                    {% endif %}
                    {% endfor %}
                </ul>
                </nav>
            {%endblock%}

{%endblock%}