{%load static%}

        <meta charset="utf-8">
        <meta name="author" content="Horácio Carvalho">
        <meta name="description" content="Treinando Html & Css">
        <meta name="keywords" content="CSS,HTML">

        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v4.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css1?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="{% static 'vendor/css/normalize.css'%}" rel="stylesheet">
        <link href="{% static 'vendor/css/estilo.css'%}" rel="stylesheet">